$color:#686CEE;
// $color:red;
// $color2: #C6C9F4;// 预警记录 导出按钮文字颜色
$color3: #EEEFFE;// 预警记录 导出按钮背景色
$color4: #C6C9F4;// 预警记录 导出按钮线条色
$color5: rgba(118,122,255,1);// 头部渐变色
$color6: rgba(77,83,205,1);// 头部渐变色